@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

/*background*/
.bground{
    height: 100%;
    width: 100%;
    background: linear-gradient(170deg, #767A68, #848973, #ABB194, #C8CCB9, #E1E3D8, #EFF0EA, #fff);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

/*navigation bar*/
a, a:hover{
    text-decoration: none;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #848973;
}

.top-bar span{
    color: black;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 10px;
}

.top-bar a{
    color: black;
}

.top-bar a:hover{
    color: #222;
}

nav{
    background-color: #848973;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: black;
}

nav a:hover{
    color: white;
}

.logo {
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover{
    color: #fff;
}

.logo img{
    width: 80px;
    background: fixed;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 10px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}


/* help button*/
.button{
    font-size: 20px;
    background-color: #F75090;
    border-radius: 10px;
    width:80px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.button:hover, .button:focus, .button:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* back button*/
.buttonback{
    font-size: 30px;
    background-color: #FCC5DA;
    border-radius: 10px;
    width: 30px;
    padding: 10px;
    text-align: center;
    box-shadow: -15px 10px 5px #465D54;
}

.translation-text .buttonback{
    margin-left: -500px;
}

.translation-text{
    background-color: #B9CAC4;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    position: absolute;
    margin: 150px;
    margin-left: 300px;
    box-shadow: -20px 20px 5px #465D54;
    position: absolute;
}

.translation-text h1{
    text-align: center;
    font-size: 30px;
    margin-top: -20px;
}

.translation-text p{
    text-align: center;
    padding: 10px;
}

.translation-text h2{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.flower-image img{
    width: 110%;
    margin-left: 700px;
}

/* columns*/
.column1 {
    float: left;
    width: 50%;
}

  /* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer style */
.footer{
    background-color: #848973;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h1{
    font-size: 18px;
    font-weight: 900px;
    color: black;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #F75090;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #EFF0EA;
    text-decoration: none;
    font-weight: 900px;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: black;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #222;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #bbb;
    background-color: #767A68;
}

/* responsive footer */
@media screen and (max-width: 600px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 574px) {
    .footer-col{
        width: 100%;
    }
}

.container{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* Responsive nav bar*/
@media screen and (max-width: 600px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
}
